* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", "Roboto", sans-serif;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

a {
	font-family: "Raleway";
	text-transform: none;
	font-weight: 700;
	font-size: 1rem;
	margin-left: 10px;
	padding-right: 0;
	text-decoration: none;
	color: white;
	position: relative;
}

img {
	display: block;
}

.anim {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
